* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial,sans-serif;
}

li {
    display: inline-block;
}
li a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
    font-size: 13px;
}
li a:hover{
    text-decoration: underline;
}

#header {
    position: absolute;
    width: 100%;
    text-align: right;
}
#header > li{
    text-decoration: none;
}

#logo{
    display: inline;
    padding-top: 109px;
    width: 272px;
    height: 92px;
}

.content{
    width: 100%;
    height: 520px;
    text-align: center;
    padding-bottom: 37px;
}
#lga {
    padding-top: 47px;
}

#gws {
    line-height: 28px;
    margin-bottom: 24px;
}

.RNN{
    display: flex;
    background-color: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 582px;
    margin: 0 auto;
}

.gsfi{
    height: 34px !important;
    line-height: 34px;
    background-color: transparent;
    border: none;
}

.gN08{
    display: inline-block;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    cursor: pointer;
    text-align: center;
    line-height: 27px;
    min-width: 54px;
}
.gN08:hover{
    border: 1px solid rgba(133, 133, 133, 0.25);
}

footer{
    margin-top: 80px;
    background-color: rgba(242,242,242);
}

.ffbar{
    line-height: 40px;
    color: #0000008A;
    font-size: 15px;
    border-top: 1px solid rgb(198, 201, 206);
    border-bottom: 1px solid rgb(198, 201, 206);
    padding-left: 27px;
    margin-left: 3px;
    text-align: left;
}
.sfbar span:first-child{
    margin-left: 3px;
}

#fbar-right{
    float: right;
}

span > a{
    display: inline-block;
    line-height: 40px;
    color: #70757A;
    font-size:14px;
    padding: 0 0 0 27px;
    text-decoration: none;
}

span a:last-child{
    padding-right: 27px;
}