h2 {
  margin-left: 50px;
  font-weight: bold;
}


.category-list-container {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.category-list-container-item {
  border: 3px solid #BDBDBD;
}

.category-title {
  display: flex;
  justify-content: center;
}

.category-image {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20vh;
  object-fit: contain;
}

.category-title button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.category-title button:active {
  background-color: #525252;
  color: #fafafa;
}

.category-title button.selected {
  background: black;
  color: white;
}

.category-title button.selected:hover {
  background: #505050;
  color: white;
}

.category-title button.selected:active {
  background: black;
  color: white;
}
