* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1152px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    color: rgba(62, 63, 67, 1);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 130px;
}

.icon_title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.25em;
}

/* Navigation */

.nav_ul {
    display: flex;
    justify-content: space-around;
    width: 737px;
}

.nav_ul li {
    display: inline-block;
    list-style: none;
    line-height: 40px;
}

.nav_item {
    text-decoration: none;
    font-size: 16px;
    color: rgba(34, 34, 34, 0.75);
}

.nav_item:hover {
    color: rgb(218, 165, 32);
}

.nav_ul li:last-child a {
    border: 1px solid rgb(62, 63, 67);
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(62, 63, 67);
    padding: 8px 35px 8px 35px;
    border-radius: 8px;
}

.nav_ul li:last-child a:hover {
    color: rgb(218, 165, 32);
    border-color: rgb(218, 165, 32);
}

/* Container */

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1152px;
    max-height: 720px;
    flex-grow: 2;
}

.content {
    width: 100%;
}

/* Inner Content */

.inner_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 376px;
    margin: auto 0;
    width: 504px;
}

.subtitle {
    font-size: 36px;
}

.title {
    color: rgba(49, 50, 53, 1);
    font-weight: bold;
    font-size: 72px;
    margin: 16px 0 16px 0;
}

.btn {
    display: block;
    color: #fff;
    font-size: 16px;
    width: 175px;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(218, 165, 32, 1);
    border-radius: 4px;
    border: 1px solid rgba(218, 165, 32, 1);
}

.btn:hover {
    color: rgba(218, 165, 32, 1);
    background-color: #fff;
    border: 1px solid rgba(218, 165, 32, 1);
}

#colored {
    position: absolute;
    right: 0;
    width: 370px;
    height: 800px;
    z-index: -1;
    border-radius: 0 0 0 150px;
    background-color: #F9BDBD;
}

.image {
    position: absolute;
    right: 0;
}

/* Logo image */

.brd {
    position: absolute;
    border: 1px solid rgba(137, 66, 66, 0.2);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.bblrr {
    width: 159.17px;
    height: 181.9px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.bbrlr {
    width: 181.9px;
    height: 159.17px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.upper_r {
    left: 522px;
    top: 162.74px;
    /* top: 642.74px; */
}

.upper_l {
    left: 722.1px;
    top: 140px;
    /* top: 620px; */
}

.lower_r {
    left: 544.74px;
    top: 340px;
    /* top: 820.1px; */
}

.lower_l {
    left: 722.1px;
    top: 340px;
    /* top: 820.1px; */
}